* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #00ffdf;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

#carouselArea {
    display: flex;
}

.btn {
    font-size: 1.2rem;
    padding-left: 20px;
}

/* GRADIENTE HEADER E FOOTER */

.gradient1 {
    background: linear-gradient( 270deg, #00D1D5 19.27%, rgba(0, 228, 215, 0.84) 42.19%, #00F4DB 58.33%, #00F9DD 72.92%, #00FFDF 78.64%, #00FCDE 87.88%, rgba(0, 236, 217, 0.917419) 94.16%, rgba(0, 217, 214, 0.934545) 100%);
}

.gradient2 {
    background: radial-gradient( 14722% 4653.11% at 54.13% 52.82%, #00D1D5 19.27%, rgba(0, 228, 215, 0.84) 42.19%, #00F4DB 58.33%, #00F9DD 76.56%, #00FFDF 100%);
}

/* FIM: GRADIENTE HEADER E FOOTER */

.max-size {
    max-width: 600px;
}

.font-cantora-one {
    font-family: 'Cantora One', sans-serif;
}

.font-noto-sans {
    font-family: 'Noto Sans', sans-serif;
}

.text-shadow {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.text-shadow2 {
    text-shadow: 0 0.025rem 0.05rem rgba(0, 0, 0, .15) !important;
}

.element-shadow {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
}

.box-shadow {
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .15) !important;
}

.bold {
    font-weight: bold;
}

#main {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 300px) and (max-width: 760px) {
    #main {
        padding-top: 10px;
        padding-left: 85px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
    #main {
        padding-top: 20px;
        padding-left: 85px;
        padding-bottom: 20px;
    }
}

/**************************** MENU MOBILE ****************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.nav_list {
    padding: 0;
    margin: 0;
}

::selection {
    color: #fff;
    background: #11101d;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 72px;
    background: #00D1D5;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: 6px;
    left: 50%;
    font-size: 22px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    margin: 5px 0;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5 ease;
}

.sidebar ul li .bx-search:hover {
    background: #fff;
    color: #1d1b31;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #fff;
}

.sidebar ul li i {
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    font-size: 15px;
    font-weight: 550;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.sidebar.active .links_name {
    transition: 0s;
    opacity: 1;
    pointer-events: auto
}