html, body{
    height: 100%;
}

.wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto;
}

.navbar{
    grid-row: 1/2;
}

#map{
    height: 100%;
    grid-row: 2/2;
}

.parent {
    display: grid;
    place-items: center;
}

.form-mapa{
    position: absolute;
    top: 160px;
}

.form-mapa-input {
    width: 60vw;
}

.test-div {
    position: absolute;
    bottom: 10px;
}