html, body {
    height: 100%;
}

ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto;
}

.navbar {
    grid-row: 1/2;
}

#map {
    height: 100%;
    grid-row: 2/2;
}

.form-mapa {
    display: flex;
    place-self: center;
    position: relative;
    top: 160px;
}

.form-mapa-input {
    width: 60vw;
}

.modal-podcast {
    display: flex;
    align-items: center;
}

.modal-podcast img {
    display: block;
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.botao-localizacao {
    position: relative;
    display: flex;
    place-self: center;
}