* {
    box-sizing: border-box;    
    margin: 0;
    padding: 0px;
    font-family: monospace;
    font-size: 1rem;
    /* color: #24fcf4; */
}

.logo {
    width: 50px;
}

.header {
    width: 100%;
    background-image: linear-gradient( to right, rgba(11, 183, 226, 0), rgb(255, 255, 255));
    /* #24fcf4 */
}

#testarCadastrar {
    background-image: url("./img/imagem1.jpg");
    background-color: white;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    text-align: justify;
    padding: 20px;
}

#solucoes {
    background-image: url("./img/imagem2.jpg");
    background-color: white;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#solucoesDiv, #testarCadastrar {
    display: flex;
    align-items: center;
    text-align: justify;
    flex-direction: column;
}

.btn {
    margin-bottom: 20px;
}

#mapa {
    background-image: url("./img/mapa.jpg");
    background-color: white;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

#depoimentos {
    /*background-image: url(./img/gene-jeter-kcV7BxcVtU4-unsplash.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    color: white;
    height: 1000px;
    margin-top:80px;
}

#marcosAugustoPhoto {
    background-image: url(./img/marcos-augusto.jpg);
}

#robertoMesquitaPhoto{
    background-image: url(./img/roberto-mesquita.jpeg);
}

#sandraFerreiraPhoto{
    background-image: url(./img/sandra-ferreira.jpg);
}

.depoimentosDiv, #depoimentosDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chamadaDaPagina {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 350px;
}

.depoimentoContainer {
    background-color: #00ffdf;
    min-width: 370px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.depoimentoContainerTop {
    display: flex;
    padding-top: 15px;
    margin-bottom: 15px;
}

.nomeProfissaoAvaliacao>p, .depoimentoContainerBottom>p {
    margin-bottom: 5px;
    text-align: left;
    font-size: 18px;
}

.usuarioFoto {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;    
}

/* Media Query para ajustar o tamanho da foto do usuário no celular */
@media screen and (max-width:450px){
    .usuarioFoto {
    width: 70px;
    height: 70px; 
}
}

.nomeProfissaoAvaliacao {
    margin-left: 15px;
    font-weight: bold;
}

#paragraph-avaliacao {
    font-size: 18px;
}

.avaliacaoEstrelas {
    display: flex;
}

.estrelas {
    margin-top: 2px;
    margin-left: 10px;
    color: gold;
    font-size: 15px;
}

/* Media Query para ajustar o tamanho das estrelas no celular */
@media screen and (max-width:450px){
.estrelas {
    margin-top: 5px;
    font-size: 12px;
}
}

.depoimentoContainerBottom {
    background-color: white;
    margin: 0px auto 15px auto;
    padding: 10px 20px 5px 20px;
    color: black;
    width:70%;
}

#pAvaliacaoBottom {
    text-shadow: none;
    color: black;
}

footer {
    background-color: #00FFDF;
}

#footer-container {
    margin-left: 15px;
}

.logoFooter {
    background-image: url(./img/logo.png);
    background-size: cover;
    background-size: 45px 45px;
    background-repeat: no-repeat;
}

.copyright {
    display: flex;
    align-items: center;
}

.copyright>p {
    padding-top: 10px;
}

/* Estilização do Carousel */

.carousel{
    position:relative;
    height: 336px;
    width:97%;
    margin:0 auto;
    margin-bottom:30px;  
}

#carousel__depoimentos{
    width:100%;
    height:100%;
    object-fit: cover;
}

.carousel__track-container{    
    height:111%;
    position:relative;
    overflow: hidden;
}

.carousel__track{
    padding:0;
    margin:0;
    list-style: none;
    position:relative;
    height:100%;
    transition: transform 200ms ease-in;
}

.carousel__slide{
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
}

.carousel__button{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:transparent;
    border:0;
    cursor: pointer;
}

.carousel__button--left{
    left: -35px;
}

.carousel__button--right{
    right: -35px;
}

.carousel__button img{
    width:25px;
}

.carousel__nav{
    display:flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator{
    border:0;
    border-radius:50%;
    width:12px;
    height:12px;
    background:rgba(0,0,0,.3);
    margin: 0 8px;
    cursor: pointer;
}

.carousel__indicator.current-slide{
    background:rgba(0,0,0,.75);
}

.is-hidden{ display:none};

/* Media Queries para ajustar a posição dos indicadores (bolinhas) do carrosel*/

@media screen and (min-width:810px) and (max-width:959px){
    .carousel__track-container{    
    height:81%;
    }
}

@media screen and (min-width:960px){
    .carousel__track-container{    
    height:75%;
    }
}

@media screen and (min-width:666px) and (max-width:958px){
    .carousel__track-container{    
    height:85%;
    }
}

@media screen and (min-width:510px) and (max-width:665px){
    .carousel__track-container{    
    height:100%;
    }
}